@font-face {
	font-family: "OpenSansRegular";
	src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "OpenSansBold";
	src: url("../assets/fonts/Open_Sans/OpenSans-Bold.ttf");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "OpenSansSemiBold";
	src: url("../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "OpenSansItalic";
	src: url("../assets/fonts/Open_Sans/OpenSans-Italic.ttf");
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: "Freestyle";
	src: url("../assets/fonts/Freestyle_Script_Regular/Freestyle_Script_Regular.ttf");
	font-style: normal;
	font-weight: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;}

html {
  font-size: 62.5%; }

.header {
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	height: 100px;
	align-items: center;
	justify-content: center;
	.header__menu {
		list-style: none;
		display: flex;
		
		li {
			margin-right: 3rem;
			&:last-child {
				margin-right: 0;
			}
			a {
				font: 1.4rem "OpenSansSemiBold";
				color: #555;
				text-decoration: none;
				&:hover {
					color: #5363db;
					border-bottom: 2px solid #5363db;
				}
			}
		}
	}
	.header__logo {
		margin: 0 180px;
	}
}

.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1920px;
	height: 600px;
	margin: 0 auto;
	background: url(../assets/img/Banner.jpg);
	color: #fff;
	margin-bottom: 120px;
	.banner__form {
		position: relative;
		width: 300px;
		height: 390px;
		margin-right: 9rem;
		border-radius: 1.8rem;
		padding: 3rem;
		background: #fff;
		h2 {
			font: 2.6rem "OpenSansSemiBold";
			color: #5363db;
			margin-bottom: 3rem;
		}
		input, select {
			padding: 1rem;
			background: #f2f2f2;
			border-radius: 8px;
			width: 230px;
			margin-bottom: 1.6rem;
			font: 1.4rem "OpenSansRegular";
			color: #888;
		}
		select {
			margin-bottom: 2.5rem;
			
		}
		button {
			font: 1.6rem "OpenSansBold";
			width: 180px;
			height: 50px;
			border-radius: 8px;
			background: #5b6ceb;
			color: #fff;
			position: absolute;
			right: 0;
			margin-right: 3.8rem;
			&:hover {
				cursor: pointer;
				background-color: #6978ea;
			}
		}
	}
	.banner__title {
		h1 {
			font: 4.8rem/7.2rem "OpenSansBold";
			text-transform: uppercase;
			margin-bottom: 4.6rem;
		}
		p {
			font: 4rem "Freestyle";
		}
	}
}
.description {
	max-width: 1920px;
	margin: 0 auto;
	margin-bottom: 120px;
	.description__title {
		text-align: center;
		h2 {
			font: 3rem/4.5rem "OpenSansBold";
			color: #5363db;
		}
		p {
			font: 4rem/6rem "Freestyle";
			color: #777;
			margin-bottom: 7rem;
		}
	}
	.description__blocks {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-flow: wrap;
		justify-content: center;
		.description__block {
			width: 570px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 3rem 3rem 0;
			padding-right: 3rem;
			border-radius: 6px;
			box-shadow: 0 0 10px rgba(0,0,0,0.1);
			img {
				margin-right: 3rem;
			}
			.description__block_text {
				.title {
					font: 2rem/4.5rem "OpenSansBold";
					color: #777;
					margin-bottom: 2rem;
					text-transform: uppercase;
				}
				p {
					font: 1.4rem/2.2rem "OpenSansRegular";
					color: #555;
					margin-bottom: 1rem;
					&:last-child {
						color: #999;
					}
				}
			}
		}
	}
}
.gallery {
	max-width: 1920px;
	margin: 0 auto;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	margin-bottom: 120px;
	.gallery__link {
		width: 480px;
		position: relative;
		overflow: hidden;
		img {
			display: block;
			position: relative;
		}
		a {
			position: absolute;
			top: -350px;
			left: 0;
			width: 480px;
			height: 100%;
			background-color: rgba(83,99,219,0.8);
			transition: top 1s;
			&::after {
				content: '';
				display: block;
				background: url(../assets/img/search.png);
				width: 71px;
				height: 71px;
				position: relative;
				top: calc(50% - (71px/2));
				left: calc(50% - (71px/2));
			} 
		}
		&:hover a {
			top: 0;
		}
	}
}
.aboutBlock {
	width: 1200px;
	margin: 0 auto;

	.aboutBlock__desript {
		padding-right: 10rem;
		width: 50%;
		float: left;
		h2 {
			font: 3rem/4.5rem "OpenSansBold";
			text-transform: uppercase;
			color: #5b6ceb;
		}
		p {
			font: 1.4rem/2.2rem "OpenSansRegular";
			color: #555;
		}
	}
	.aboutBlock__slider {
		float: right;
		width: 50%;
		position: relative;
		margin-bottom: 120px;
		.single-item {
			position: relative;
			.slick-prev {
				position: absolute;
				text-indent: -99999px;
				background: url(../assets/img/left.png);
				width: 67px;
				height: 67px;
				z-index: 99;
				top: calc(150px - (67px/2));
				left: -40px;
			}
			.slick-next {
				position: absolute;
				text-indent: -99999px;
				background: url(../assets/img/right.png);
				width: 67px;
				height: 67px;
				z-index: 99;
				bottom: calc(150px - (67px/2));
				right: -5px;
			}
		}
	}
}
.clear {
	clear: both;
}
.features {
	max-width: 1920px;
	height: 800px;
	margin: 0 auto;
	background: url(../assets/img/featuresBg.jpg);
	margin-bottom: 100px;
	.features__content {
		display: flex;
		justify-content: center;
		flex-flow: wrap;
		align-items: center;
		width: 1170px;
		height: 100%;
		margin: 0 auto;
		.features__content_block {
			display: flex;
			flex-flow: column;
			justify-content: space-between;
			text-align: center;
			width: 270px;
			height: 260px;
			margin-right: 3rem;
			&:nth-child(4) {
				margin-right: 0;
			}
			&:nth-child(8) {
				margin-right: 0;
			}
			i {
				margin-left: calc(50% - 35px);
				margin-bottom: 3rem;
			}
			p {
				font: 1.6rem/2.7rem "OpenSansRegular";
				color: #fff;
			}
			.title {
				font: 1.8rem/2.7rem "OpenSansBold";
				color: #fff;
				margin-bottom: 2rem;
			}
		}
	}
}
.active {
	background-color: #6978ea !important;
}
.prices {
	display: flex;
	justify-content: center;
	max-width: 1920px;
	.prices__block {
		width: 370px;
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		margin-right: 3rem;
		border-radius: 10px;
		box-shadow: 0 0 25px 10px rgba(0,0,0,0.1);
		.prices__block_header {
			width: 100%;
			height: 148px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #5b6ceb;
			color: #fff;
			margin-bottom: 5rem;
			border-radius: 10px 10px 0 0;
			p:nth-child(1) {
				font: 3.2rem/3.6rem "OpenSansBold";
				margin-right: 2rem;
				position: relative;
			}
			p:nth-child(2) {
				font: 6.8rem/7.6rem "OpenSansBold";
			}
			p:nth-child(3) {
				font: 1.8rem/2.4rem "OpenSansBold";
				text-transform: uppercase;
				align-self: flex-end;
				padding-bottom: 40px;
			}
		}
		.prices__block_descript {
			font: 1.8rem/2.4rem "OpenSansRegular";
			color: #555;
			position: relative;
			p {
				margin-bottom: 5rem;
			}
			p:nth-child(1)::after {
				position: absolute;
				top: 50px;
				left: calc(50% - 50px);
				content: '';
				width: 100px;
				height: 1px;
				background: #d7d7d7;
			}
			p:nth-child(2)::after {
				position: absolute;
				top: 125px;
				left: calc(50% - 50px);
				content: '';
				width: 100px;
				height: 1px;
				background: #d7d7d7;
			}
		}
		.button {
			width: 170px;
			height: 50px;
			font: 1.8rem/2.4rem "OpenSansSemiBold";
			color: #fff;
			background: #5b6ceb;
			border: none;
			border-radius: 20px;
			margin-bottom: 5rem;
			&:hover {
				cursor: pointer;
				background-color: #6978ea;
			}
		}
	}
}
.pricesWrapper {
	max-width: 1920px;
	margin: 0 auto;
	.single-item {
		max-width: 1170px;
		margin: 0 auto;
		.slick-prev {
			position: absolute;
			text-indent: -99999px;
			background: url(../assets/img/left.png);
			width: 67px;
			height: 67px;
			transform: scale(0.5);
			z-index: 99;
			top: calc(150px - (67px/2));
			left: -40px;
		}
		.slick-next {
			position: absolute;
			text-indent: -99999px;
			background: url(../assets/img/right.png);
			width: 67px;
			height: 67px;
			z-index: 99;
			bottom: calc(150px - (67px/2));
			right: -5px;
		}
		.firstItem {
			img {
				padding: 1rem;
				border: 2px solid #d8d8d8;
				border-radius: 50%;
			}
			p:nth-of-type(1) {
				font: 1.4rem/2.2rem "OpenSansItalic";
				color: #555;
				position: relative;
				span {
					font: 6rem/2.2rem "OpenSansRegular";
					color: #5b6ceb;
					position: absolute;
				}
			}
			p:nth-of-type(2) {
				font: 1.4rem/2.2rem "OpenSansRegular";
				color: #777;
			}
			p:nth-of-type(3) {
				font: 1.6rem/2.2rem "OpenSansBold";
				color: #5b6ceb;
			}
		}
	}
}