.sprite {
    background-image: url(../assets/img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-feature1 {
    width: 70px;
    height: 70px;
    background-position: -5px -5px;
}

.sprite-feature2 {
    width: 70px;
    height: 70px;
    background-position: -85px -5px;
}

.sprite-feature3 {
    width: 70px;
    height: 70px;
    background-position: -165px -5px;
}

.sprite-feature4 {
    width: 70px;
    height: 70px;
    background-position: -5px -85px;
}

.sprite-feature5 {
    width: 70px;
    height: 70px;
    background-position: -85px -85px;
}

.sprite-feature6 {
    width: 70px;
    height: 70px;
    background-position: -165px -85px;
}

.sprite-feature7 {
    width: 70px;
    height: 70px;
    background-position: -5px -165px;
}

.sprite-feature8 {
    width: 70px;
    height: 70px;
    background-position: -85px -165px;
}

.sprite-google {
    width: 19px;
    height: 21px;
    background-position: -245px -5px;
}

.sprite-instagram {
    width: 21px;
    height: 21px;
    background-position: -245px -36px;
}

.sprite-left {
    width: 67px;
    height: 67px;
    background-position: -165px -165px;
}

.sprite-phone-call {
    width: 21px;
    height: 21px;
    background-position: -245px -67px;
}

.sprite-pinterest {
    width: 17px;
    height: 21px;
    background-position: -245px -98px;
}

.sprite-placeholder {
    width: 15px;
    height: 21px;
    background-position: -245px -129px;
}

.sprite-planet-earth {
    width: 21px;
    height: 21px;
    background-position: -245px -160px;
}

.sprite-right {
    width: 67px;
    height: 67px;
    background-position: -276px -5px;
}

.sprite-search {
    width: 71px;
    height: 71px;
    background-position: -276px -82px;
}

.sprite-twitter {
    width: 25px;
    height: 21px;
    background-position: -276px -163px;
}
